<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.work.admin.auth.dao.AuthDAO">

    <select id="selectLoginInfo" parameterType="map" resultType="com.study.work.admin.auth.dto.LoginResDTO">
    	/**
        * SQL ID : com.study.work.admin.auth.dao.AuthDAO.selectLoginInfo
        * SQL 명: 로그인 정보조회
        */
		SELECT U.USER_ID
		     , U.USER_NAME
			 , U.PASSWORD
			 , U.ROLE_ID
			 , R.ROLE_NAME
			 , U.IS_ACTIVE
		FROM TB_USER U 
		LEFT JOIN TB_ROLE R ON U.ROLE_ID = R.ROLE_ID
		WHERE U.USER_ID = #{userId}
    </select>


</mapper>
