<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.work.admin.auth.dao.AuthDAO">

    <select id="selectLoginInfo" parameterType="map" resultType="com.study.work.admin.auth.dto.LoginResDTO">
    	/**
        * SQL ID : com.study.work.admin.auth.dao.AuthDAO.selectLoginInfo
        * SQL 명: 로그인 정보조회
        */
		SELECT U.USER_ID
		     , U.USER_NAME
			 , U.PASSWORD
			 , U.ROLE_ID
			 , U.IS_ACTIVE
             , U.LOGIN_FAIL_CNT
			 , R.ROLE_NAME
		FROM TB_USER U INNER JOIN TB_ROLE R ON U.ROLE_ID = R.ROLE_ID
		WHERE U.USER_ID = #{userId}
    </select>

    <update id="updateFailCnt">
        UPDATE TB_USER
        SET LOGIN_FAIL_CNT = #{loginFailCnt}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateIsActive">
        UPDATE TB_USER
        SET IS_ACTIVE = #{isActive}
        WHERE USER_ID = #{userId}
    </update>


</mapper>
